installed
*~*
._*
#cmt
cmt/*.sh
cmt/Make*
cmt/install*
cmt/*.csh
=======
# temporary Athena files
# ======================
InstallArea
WorkArea
genConf
x86_64-slc6-gcc48-opt
x86_64-slc6-gcc49-opt
.*
/build*
.asetup.save

#json output
*.json
#root output
*.root
#csv output
*.csv
*.pyc
/cmake_cmd
/cleanup.sh

#codegen related
codegen/build/
codegen/src/codegen.egg-info/

# dont ignore hidden configs
!.clang-format
!.github
!.gitignore
!.gitlab-ci.yml
!.clang-tidy
!.oclint
!.devcontainer

#files to ignore 
acts-itk/
compile.log
fakeRatio_vs_eta_overlay.pdf
heap_memory.log
heap_profile.massif
overlay_eff_eta
overlay_eff_eta_crosses_caps
overlay_eff_eta_crosses_caps.cxx
overlay_eff_pT_crosses_caps
overlay_eff_pT_crosses_caps.cxx
overlay_fake_eta_crosses_caps
overlay_fake_eta_crosses_caps.cxx
runtime.log
trackeff_vs_eta_overlay.pdf
trackeff_vs_pT_overlay.pdf